@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --line-border-fill: #003049;
    --line-border-empty: #780000;
}

*{
    box-sizing: border-box;
    }

    body{
        font-family: "Roboto Condensed", sans-serif;
        background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0px;
        overflow: hidden;
    }
    
    .container {
        text-align: center;
    }
    .progress-container{
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 30px;
        width: 350px;
        max-width: 100%;
    }
    